.clientDetailsPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.clientDetailsCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* ok aqui */
}


.clientCard {
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
}

.clientCard h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #0f172a;
}

.clientInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px 40px;
  font-size: 15px;
}

.clientInfo strong {
  color: #0f172a;
}

.editButton {
  margin-top: 25px;
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.25s ease;
}

.editButton:hover {
  background: #fff;
  color: #2563eb;
  border: 2px solid #2563eb;
}
